body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 4rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* cards */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: none !important;
    margin-bottom: 1.5rem;
}

.card-image-top {
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

.listing-links {
    text-decoration: none;
}

/* Card Effect */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* creating list */
.add-btn {
    width: 200px;
    height: 50px;
    background-color: #fe424d !important;
    border: none !important;
}

.new-attribute {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* show js styling */
.show-img {
    height: 40vh;
}

.btns {
    display: flex;
}

.show-card {
    padding: 0;
}

/* footer */

.f-info {
    height: 7rem;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
    text-align: center;
}

.f-info div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-social i {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

.f-info-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.f-info-link a {
    text-decoration: none;
    color: #222222 !important;
}

.f-info-link a:hover {
    text-decoration: underline;
}